/* Visual display container */
.visual {
    position: relative;
    top: 0;
    left: 0;
}
/* Machine back
ground */
.machine {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

/* State overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hide {
    display: none !important;
}

.pageBg {
    background-color: ghostwhite;
    color: darkslateblue;
}

.disabledBg {
    background-color: ghostwhite;
    color: slateblue;
}

.lightBg {
    background-color: lavender;
    color: slateblue;
}


.darkBg {
    color: whitesmoke;
    background-color: mediumpurple;
}

.address {
    font-family: Courier;
}

input[type="text"]:disabled {
    background-color: ghostwhite;
    color: slateblue;
}

a, .link {
    color: darkslateblue;
}

a:hover, .link:hover {
    color: mediumpurple;
}

button:disabled {
    color: darkslateblue;
    background: ghostwhite;
}

select:disabled {
    color: slateblue;
    background: ghostwhite !important;
}

button:hover {
    color: lawngreen !important;
    background: darkslateblue;
}

